/* FONT */
/* <weight>: Use a value from 100 to 900 */

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #222;
}

.container {
  position: relative;
  width: 400px;
  border-radius: 20px 20px 0 0;
  padding: 30px;
  background: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 1px solid #111;
  gap: 10px;
  padding-bottom: 70px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0005);
}
.container h2 {
  color: #666;
  font-weight: 500;
}

.container .inputArea {
  position: relative;
  width: 100%;
  
}

.container .inputArea input {
  position: relative;
  width: 100%;
  background: #222;
  border: none;
  outline: none;
  padding: 10px;
  color: aliceblue;
  font-size: 1.1em;
  border-radius: 5px;
}

.container .strengthMeter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #222;
}

.container .strengthMeter::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: 0.5s;
  background: #f00;
}

.container.weak .strengthMeter::before {
  width: 10%;
  background: #f00;
  filter: drop-shadow(0 0 5px #f00) drop-shadow(0 0 10px #f00)
    drop-shadow(0 0 20px #f00);
}

.container.moderate .strengthMeter::before {
  width: 70%;
  background: #eedc3d;
  filter: drop-shadow(0 0 5px #eedc3d) drop-shadow(0 0 10px #eedc3d)
    drop-shadow(0 0 20px #eedc3d);
}

.container.strong .strengthMeter::before {
  width: 100%;
  background: #18e605;
  filter: drop-shadow(0 0 5px #18e605) drop-shadow(0 0 10px #18e605)
    drop-shadow(0 0 20px #18e605);
}

.container .strengthMeter::after {
  position: absolute;
  top: -45px;
  left: 30px;
  transition: 0.5s;
  color: aliceblue;
}

.container.container.weak .strengthMeter::after {
  content: "Weak Password";
  color: #f00;
  filter: drop-shadow(0 0 5px#f00);
}

.container.container.container.moderate .strengthMeter::after {
  content: "Moderate Password";
  color: #eedc3d;
  filter: drop-shadow(0 0 5px#eedc3d);
}

.container.container.container.container.strong .strengthMeter::after {
  content: "LOGGING ...";
  color: #18e605;
  filter: drop-shadow(0 0 5px#18e605);
}

.show {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #333;
  border: 6px solid #222;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.show::before {
  content: "Show";
  font-size: 0.6em;
  color: aliceblue;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.show.hide::before {
  content: "Hide";
}
.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 53;
}

.eye-icon i {
  color: #000000;
  transition: all 0.2s ease;
}

.eye-icon i.fa-eye-slash {
  color: #f00;
}
.fld label {
    position: absolute;
    left: 0;
    text-align: center;
    justify-content: center;
    padding: 0.7rem;
    
    pointer-events: none;
    cursor: text;
    background: none;
    color: #ffffff33;
    transition: 0.2s;
    




}
.fld input{
  transition: 0.2s ease;
}
.fld input:focus{
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.938), 0 0 25px rgba(0, 255, 255, 0.555), 0 0 50px rgba(0, 255, 255, 0.082);
  transition: 0.2s ease;
}
.fld input:valid~label,
.fld input:focus~label {
    color: #ffffff !important;
    transform: translateX(10px) translateY(-10px);
    transition: 0.2s;
    font-size: 0.7em;
    justify-content: center;
    text-align: center;
    justify-items: center;
    
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
    background: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.938), 0 0 25px rgba(0, 255, 255, 0.555), 0 0 50px rgba(0, 255, 255, 0.082);
}
.btb{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.btu{
  width: 100%;
  height: 2.5rem;
  border: none;
  color: white;
  background-color: #222;
  border-radius: 0.5rem;
  transition: ease-out 0.3s;
  font-size: 7mm;
  outline: none;
  
  position: relative;
  z-index: 1;
  font-size: 16px;
  
}
.btu:hover{
  cursor: pointer;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px rgba(0, 255, 255, 0.644), 0 0 100px rgba(0, 255, 255, 0.171);
  color: #005bc3;
}
.btu:before{
  transition: 0.2s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ffffff;
  border-radius: 0.5rem;
  
}
.btu:hover:before{
  transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
button:focus, 
input:focus, 
textarea:focus {
    outline: none;
}

.container{
  display: flex;
  align-items: center;
}

.pass-bg{
  background-color: rgb(131, 131, 131);
  position: absolute;
  z-index: 50;
  right: 0;
  border-radius: 0 5px 5px 0;
  height: 100%;
  transition-duration: 0.4s;
}

.pass-bg-min{
  width: 11%;
}

.pass-bg-full{
  width: 100%;
  border-radius: 5px;
}

#YourPassword{
  z-index: 52;
  background-color: transparent;
  transition-duration: 0.8s;
}

.pass-label{
  z-index: 53;
  transition-duration: 0.8s;
}

.inputArea{
  background-color: #222;
  border-radius: 5px;
}

.black{
  color: #000000 !important;
}

.bottom-text{
  width: 100%;
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  color: #666;
}

.transition-08{
  transition-duration:0.8s ;
}

.forgot-link:hover , .creat-link:hover{
  color: #ffffff;
  text-decoration: underline;
}

.my-w{
  width: 45%;
}

.ref-btn{
  background-color: transparent;
  color: white;
  border: 0;
}

#captcha-input{
  background-color: transparent;
  width: 40%;
}